*{
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
    padding: 10px 50px 10px 50px;
    
    background-color: #F4D03F;
    
    
}

:root {
  --color1: #2C2C2C;
  --color2: white;
  --color3: #F4D03F;
  --colorTexto: black;
}

.nav{
    list-style: none;
    width: 200px;
    padding-top: 10px;
    
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    

    font-size: 15px;
}    

.nav a{
    display: block;
    color: #2C2C2C;
    text-decoration: none;
    border: none;
}

.nav a:hover{
    background: rgba(255,255,255,0.3);
}


.logo{
    color: #2C2C2C;
}
