/*SELECTOR*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Html{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
}

.cabecera {
    max-width: 1000px;
    margin: auto;
    
}

.contenedor_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor_1 div{
    max-width: 200px;
    max-height: 285px;
    margin: 7px;
    background-color:  #F4D03F;
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
}

.cuadro div{
    max-width: 110px;
    height: auto;
    background-color: #2C2C2C;
    margin: auto;
    margin-top: 2px;
    text-align: center;
    cursor: pointer;
    color: #F4D03F;
    border: none;
}

.padre:hover .hijo{
    transition: 0.3s;
    display: block;
    position: relative;
    margin: 0;
}

.hijo{
    max-width: 150%;
    background-color: #2C2C2C;
    padding: 10px;
    transition: 0.5s;
    display: none;
    cursor: pointer;
    color: #F4D03F;
    text-align: center;
}

.hijo:hover{
    background-color: #5A5858;
    color: #F4D03F;
    display: inline;
    transition: 0.5s;
}

.contenedor_2{
        display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor_2 div{
    max-width: 200px;
    max-height: 285px;
    margin: 7px;
    background-color:  #F4D03F;
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
}

.cuadro div{
    max-width: 110px;
    height: auto;
    background-color: #2C2C2C;
    margin: auto;
    margin-top: 2px;
    text-align: center;
    cursor: pointer;
    color: #F4D03F;
    border: none;
}

.padre:hover .hijo{
    transition: 0.3s;
    display: block;
    position: relative;
    margin: 0;
}

.hijo{
    max-width: 150%;
    background-color: #2C2C2C;
    padding: 10px;
    transition: 0.5s;
    display: none;
    cursor: pointer;
    color: #F4D03F;
    text-align: center;
}

.hijo:hover{
    background-color: #5A5858;
    color: #F4D03F;
    display: inline;
    transition: 0.5s;
}

.contenedor_3{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor_3 div{
    max-width: 200px;
    max-height: 285px;
    margin: 7px;
    background-color:  #F4D03F;
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
}

.contenedor_4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contenedor_4 div{
    max-width: 200px;
    max-height: 285px;
    margin: 7px;
    background-color:  #F4D03F;
    margin: 10px 10px 10px 10px;
    border: 1px solid black;
}

h5{
    color: #2C2C2C;
    font-size: 18px;
    text-align: center;
    font-style: oblique;
}

p{
    color: #2C2C2C;
    font-size: 15px;
    text-align: center;
}

section{
    max-width: 1000px;
    margin: auto; 
}

.Titulo{
    color:#2C2C2C;
    font-size: 50px;
}

.parrafo{
    text-align: justify;
    font-size: 16px;
    margin: 15px 0px 15px 0px;
}

.fila_1{
    text-align: center;
    background-color: #2C2C2C;
    color: #F4D03F;
    padding: 15px 0px 0px 0px;
    font-size: 20px;
}

.Subtitulo_1{
    font-size: 20px;
    color: #F4D03F;
    margin: 15px 0px 15px 0px;
    border: 1px solid black;
    text-align: center;
    background-color: #2C2C2C;
}

.Subtitulo_2{
    font-size: 20px;
    color: #F4D03F;
    margin: 15px 0px 15px 0px;
    border: 1px solid black;
    text-align: center;
    background-color:#2C2C2C;
}

.Subtitulo_3{
    font-size: 20px;
    color: #F4D03F;
    margin: 15px 0px 15px 0px;
    border: 1px solid black;
    text-align: center;
    background-color:#2C2C2C;
}

.Subtitulo_4{
    font-size: 20px;
    color:#F4D03F;
    margin: 15px 0px 15px 0px;
    border: 1px solid black;
    text-align: center;
    background-color:#2C2C2C;
}

.tabla{
    margin: 15px 0px 15px 0px;
}

.info{
    text-align: center;
    font-size: 16px;
    margin: 15px 0px 15px 0px;
}

.titulo{
    text-align: center;
    font-size: 16px;
}

@media screen and(max-width: 700px){ 
.Subtitulo_1{
    font-size: 15px;
}}
